:root {
	--linen-bgcolor: #f9e7e7;
	--spanish-pink-header-text: #ebbab9;
	--background-color-white: #EFEFEF;
	--black: #050404;
	--dark-purple: #381D2A;
	--turkus:#0F4C5C;
	--pink: #ED217C;
}
body, html {
	margin: 0;
	padding: 0;
}
body {
	background-image: 
		-webkit-linear-gradient(#ED217C 30%, #19385E 50%, #5F9DB6 80%, #EAEAEA);
		background-image: 
		-o-linear-gradient(#ED217C 30%, #19385E 50%, #5F9DB6 80%, #EAEAEA);
		background-image: 
		linear-gradient(#ED217C 30%, #19385E 50%, #5F9DB6 80%, #EAEAEA);

	font-family: Roboto;
	font-size: 16px;
	display: block;
	width: 100%;
	height: 100%;
}

h1, h2, h3, h4, h5 { margin: 0; }

/*to make the website be fully grid responsive 
by reseting the box model which by default doesnt include padding 
and border within declered width and height.  */

header, section, div, footer {
	box-sizing: border-box;
}
* {
	box-sizing: border-box;
}
/*
font style 
common
*/
 .header-joanna-sz, .header-text {
 	text-align: right;
 	text-transform: uppercase;
 	letter-spacing: 0;
 	color: #FBFCFF;
}
/*
*
button-go-to-the-top
*
*/
.go-to-top-Btn{
	display: block;
    margin-top: -51px;
    position: relative;
    text-align: center;
    top: 23px;
    z-index: 1;
}
#page-Btn {
	font-size: 14px;
	border: none;
	outline: none;
	background-color: #381d2a;
	color: #9ed0e6;
	cursor: pointer;
	padding: 12px;
	border-radius: 2px;
}
#page-Btn:hover { background-color: #555; }
/*
*
header
*
*/
.header { 
	overflow: hidden;
	width: 100%;
	height: 83px;
	margin: auto;
	background-color: #170F11; 
	box-shadow: 1px 1px 2px #bbb8b2 
}
.header-text-box { 
	float: right;
	display: inline-block; 
}
.header-text{
	margin-right: 10px;
}
.header-work-title { 	
	padding:5px 0 10px 0;
	margin: 0;
}
.header-joanna-sz { 
	font-size: 23px;
	padding-bottom: 0;
	padding-top: 10px;
	font-weight: 300;
}
.header-logo-box { 
	float: left;
	vertical-align: top;
}
.header-logo {
	width: 100px;
	height: 83px;
}
/*
*
content
*
*/
.content { box-shadow: 1px 5px 5px #272838; }
 /*
 main
 */
main {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: var(--background-color-white);
}
/*
content
*/
/*
Section top-background-image 
*/

.banner { 
    width: 100%;
    margin-top: 30px;
    position: relative;
}
.top-image {
	background-image: url(img/kate-trysh-486230-unsplash.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	min-height: 400px;
}


.top-image article { 
	width: 100%;
	padding: 1.5em;
	background-color: rgba(23,15,17);
/*	rgba(0, 0, 0, 0.7); */
	box-sizing: border-box;
	color: #FBFCFF;
	/*#a19ea8;*/
	bottom: 0;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
}
/*
Featured work 
*/
.featured-work { 
	clear:both;
	padding: 10px;
}
.featured-work-name {
	color: #272838;
	font-size: 2rem;
	font-weight: 200;
	letter-spacing: 3px;
	width: 100%;
	padding: 1em 0 1em 18px;
}
.portfolio-img {
	width: 100%;
	max-width: 250px;
	height: 235px;
	object-fit: cover;
	border: 1px solid lightgray; 
}		
.project { 
	float: left;
  	text-align: center;
  	line-height: 18px;
  	height: 350px;
  	padding: 4px;
  	margin-bottom: 5%;
}

.project:last-of-type { margin-bottom: 15%; }

.project > a { 
	text-decoration: none;
	display: block;
	color:  #272838;
	transition: all 0.5s;
}
 a:hover { color: #787358; }

.project-title { text-transform: uppercase; }

.program-languages { display: block; }

#html { color: blue; }

#css { color:orange; }

#javascript{ color:red; }
/*
Footer
*/
footer {
  	border-top: 1px solid #bbb8b2 ;
	width: 100%;
	/*padding: 1em;*/
	padding: 10px 12px 15px 12px;
	overflow: hidden;
	background-color: var(--background-color-white);
	margin-bottom: 0;
	display: flex;
	flex-direction: row;
}
footer li {
	display: inline-block;
	margin: 0 3px;
}
footer a {
	text-decoration: none;
	color: #272838;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
#contact {
	font-weight: 600;
	letter-spacing: 1px;
	font-size: 16px;
}
.footer-left { padding-top: 5px; }

.footer-right { margin-left: auto; }