:root {
	--linen-bgcolor: #f9e7e7;
	--spanish-pink-header-text: #ebbab9;
	--background-color-white: #EFEFEF;
	--black: #050404;
	--dark-purple: #381D2A;
	--turkus:#0F4C5C;
	--pink: #ED217C;
}
html, body{
	  height: 100%;
	  margin: 0;
	  padding: 0;
}

html{
  box-sizing: border-box;
}

*, *:before, *:after{
 	 box-sizing: inherit;
}
body {
/*	background-image: 
		-webkit-linear-gradient(#ED217C 30%, #19385E 50%, #5F9DB6 80%, #EAEAEA);
		background-image: 
		-o-linear-gradient(#ED217C 30%, #19385E 50%, #5F9DB6 80%, #EAEAEA);
		background-image: 
		linear-gradient(#ED217C 30%, #19385E 50%, #5F9DB6 80%, #EAEAEA);*/

	font-family: Roboto, 'Lato', Helvetica, sans-serif;;
	font-size: 16px;
	display: block;
	width: 100%;
	height: 100%;
}

html, body, div, span,h1, h2, h3, h4, h5, h6, p, a, address,
img, sub, sup, ol, ul, li, fieldset, form, label,table,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
figure, figcaption, footer, header, menu, nav, section {
	  border: 0;
	  font: inherit;
	  font-size: 100%;
	  margin: 0;
	  padding: 0;
	  vertical-align: baseline;
}

/*to make the website be fully grid responsive 
by reseting the box model which by default doesnt include padding 
and border within declered width and height.  */

ul {
	list-style: none;
	list-style-position: outside;
/*	list-style-type: disc;*/
}

/*
*
header items
*
*/
header {
	background-size: cover;
	/*background-attachment: fixed;*/
	background-repeat: no-repeat;
	min-height: 622px;
}
.header-joanna-sz { 
	font-size: 23px;
	font-weight: 100;
	/*left: 0;*/
	position: absolute;
	top: 22px;
	z-index: 0;
	color: #8B6220; /*gold*/
	margin-left: 0.5em;
}
.mobile-height {
	height: auto !important;
}
.core-nav {
	background-color: rgba(247, 236, 219,0.8)!important;
	background-color: rgb(247, 236, 219);
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
   	width: 100%;
    	height: 80px;
}

.header-menu {
	display: inline-block;
	/*position: absolute;
	right: 10px;*/
	padding: 1em;
	margin-top: 3px;
	z-index: 12;
	border: none;
	cursor: pointer;
	background-color: transparent;
}
.header-menu:focus {
	outline: 2px dashed yellow;
}
.sr-only {
	height: 1px;
	overflow: hidden;
	position: absolute;
	width: 1px;
}
.header-menu svg {
	width: 46px;
	fill: black;
}

.nav-items {
    display: flex;
    justify-content: flex-start;
    width: 90%;
    height: 100%;
    color: #583E13;
    /*margin:0 auto;*/
    font-size: 24px;
    flex-wrap: wrap;
    padding-top: 50px;
/*    flex-grow: 1;
    line-height: 1.7;*/
  /*  justify-content: space-around; */
   	text-rendering: geometricPrecision;
   	transform: translate(-9999px, 0);
   	transition: transform 0.52s;
}
.open{
	transform: translate(0,0);
}
/*.menu-item-active{
	color: #8B6220; 
}*/
.nav-items > .nav-item:first-child {
	padding-top: 40px;
}

.nav-item > a{
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-decoration: none;
	color: inherit;
}
.nav-item > a:hover {
	color: #787358;
}
.nav-items > .nav-item{
	width: 100%;
	height: 100%;
} 
.nav-item{
	padding: 12px;
	list-style-type: none;
	display: inline-block;
}
/*
*
content
*
*/
.content { 
	box-shadow: 1px 5px 5px #381d2a;
}
 
 /*
 main
 */
main {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
/*
SKILLS
*/

.skills {
	width: 80%;
	max-width: 960px;
	height: 500px;
	margin: auto;
	position: relative;
}
.charts {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}
.chart-title {
  	display: block;
  	margin: 0 0 10px;
	color: black;
  	font-weight: bold;
}
.chart-bar { 
 	height: 30px;
  	margin-bottom: 10px;
  	background: #381d2a;
  	border-radius: 4px;
}
 .chart-bars {
 	overflow: hidden;
 	list-style: none;
    margin: 0;
    padding: 0;
    animation: sheen 2s;
 }
 .chart-tag { 
	padding-left: 10px;
	line-height: 30px;
	color: white;
}
.skills-scale{
	width: 100%;
	background-color: #ddd;
	border-radius: 15px;
	padding: 0;
}
.html-s {
	width: 90%;
	background-color: #381D2A;
	border-radius: 15px;
}
.css-s {
	width: 80%;
	background-color: #EB5E28;
	border-radius: 15px;
}
.js-s {
	width: 50%;
	background-color: #BC412B;
	border-radius: 15px;
}
.design-s {
	width: 55%;
	background-color: #381D2A;
	border-radius: 15px;
}
.responsive-s {
	width: 70%;
	background-color: #381D2A;
	border-radius: 15px;
}
.accessability-s {
	width: 80%;
	background-color: #381D2A;
	border-radius: 15px;
}
.soft-s {
	width: 70%; 
	background-color: #381D2A;
	border-radius: 15px;
}

/*Keyframes*/
@keyframes sheen{
  0% {
    transform:  translate(-1040px,0px) ;
  }
  100% {
    transform:  translate(0px,0px)  ;
  }
}

/*
Featured work 
*/
/* Slideshow container */
.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
	margin-bottom: 10%;
}
/* Hide the images by default */
.mySlides {
	display: none;
}
/* Next & previous buttons */
.prev, .next {
	border: none;
	cursor: pointer;
	position: absolute;
	top: 35%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: black;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}
/* Position the "next button" to the right */
.next {
	right: 0px;
	border-radius: 3px 0 0 3px;
}
.prev {
	left: 0px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
 	background-color: rgba(247, 236, 219,0.8);
}
/* Caption text */
.text {
  	color: #f2f2f2;
  	font-size: 15px;
  	padding: 8px 12px;
  	position: absolute;
  	bottom: 8px;
  	width: 100%;
  	text-align: center;
}
/* Number text (1/3 etc) */
.numbertext {
  	color: black;
  	font-size: 12px;
  	padding: 8px 12px;
}

/* Fading animation */
.fade {
  	-webkit-animation-name: fade;
  	-webkit-animation-duration: 1.5s;
  	animation-name: fade;
  	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  	from {opacity: .4}
  	to {opacity: 1}
}

@keyframes fade {
  	from {opacity: .4}
  	to {opacity: 1}
}
.featured-work { 
	clear:both;
	padding: 10px;
}
.main-sub-headers {
	color: #272838;
	font-size: 2rem;
	font-weight: 200;
	letter-spacing: 3px;
	width: 100%;
	padding: 1em;
}
.portfolio-img {
	width: 100%;
	max-width: 225px;
	height: 235px;
	object-fit: cover;
	border: 1px solid lightgray; 
}		
.project { 
	float: left;
  	text-align: center;
  	line-height: 18px;
  	height: 350px;
  	width: 309px;
  	margin-bottom: 5%;
}

.project:last-of-type { margin-bottom: 15%; }

.project > a { 
	text-decoration: none;
	display: block;
	color:  #272838;
	transition: all 0.5s;
}
/* a:hover { color: #787358; }*/
.project-title { 
	text-transform: uppercase;
	color: black; 
}

.program-languages { display: block; }

.html-tag { color: blue; }

.css-tag { color:orange; }

.javascript-tag { color:red; }
/*
*
button-go-to-the-top
*
*/
.go-to-top-Btn{
	display: block;
    margin-top: -51px;
    position: relative;
    text-align: center;
    top: 23px;
    z-index: 1;
}
#page-Btn {
	font-size: 16px;
	font-weight: 500;
	border: none;
	outline: none;
	background-color: #1c1406;
	color: #e2bc79;
	cursor: pointer;
	padding: 12px;
	border-radius: 2px;
}
#page-Btn:hover { background-color: #381d2a; }


/*
Footer
*/
footer {
  	border-top: 1px solid #bbb8b2 ;
	width: 100%;
	height: 59px;
	padding: 10px 12px 15px 12px;
	overflow: hidden;
	background-color: rgba(247, 236, 219,0.8)!important;
	background-color: rgb(247, 236, 219);
	margin-bottom: 0;
	margin-top: 10px;
	display: flex;
	flex-direction: row;
}
footer li {
	display: inline-block;
	margin: 0 3px;
}
footer a {
	text-decoration: none;
	color: #272838;
}
#contact {
	font-weight: 600;
	letter-spacing: 1px;
	font-size: 16px;
}
.footer-left { padding-top: 5px; }

.footer-right { 
	margin-left: auto;
	margin-right: 30px;
 }
