.featured-work {
	display: flex;
	flex-wrap: wrap;
	width: 100%
}

@media screen and (min-width:1200px) {
	.header, main, .content, footer { 
		width: 1000px;
		margin-right: auto;
		margin-left: auto; 
	}
	.top-image {
		min-height: 200px;
	}
	footer {
		margin-bottom: 10%;
	}
}

@media screen and (min-width:800px) and (max-width: 1199px) {
	.header, main, .content, footer { 
		width: 800px;
		margin-right: auto;
		margin-left: auto; 
	}
	footer {
		margin-bottom: 10%;
	}
}

@media screen and (max-width: 799px) {
	.featured-work-name { 
		text-align: center;
	}
	.featured-work {
		justify-content: center;
	}

}
 
@media screen and (min-width: 530px) {
	.project {
		margin-bottom: 17%;
	}