.featured-work {
	display: flex;
	flex-wrap: wrap;
	width: 100%
}

@media screen and (min-width:1200px) {
	.header, main, .content, footer { 
		width: 1000px;
		margin-right: auto;
		margin-left: auto; 
	}
	.top-image { min-height: 200px; }

	.portfolio-img{ max-width: 234px; }

	footer { margin-bottom: 10%; }

	#mobileBtn{ display: none; }

	.go-to-top-Btn{ display: none; }
}

@media screen and (min-width:800px) and (max-width: 1199px) {
	.header, main, .content, footer { 
		width: 800px;
		margin-right: auto;
		margin-left: auto; 
	}
	footer { margin-bottom: 10%; }
/*	#mobileBtn {
		display: none;
	}*/
}

@media screen and (max-width:799px) {
	.featured-work-name { text-align: center; }

	.featured-work { justify-content: center; }
/*	.go-to-top-Btn{
		display: none;
	}*/
}

@media screen and (min-width:530px) {
	.project { margin-bottom: 20%; }

@media screen and (max-width:401px) {
	.go-to-top-Btn { margin-top: -40px; }

    #page-Btn { font-size: 14px; }

	.featured-work { padding-bottom: 34px; }
}






